<center>
Editing image form!

<form action="/edit/{{id}}" method="post" enctype="multipart/form-data">
    Title: <input type="text" name="title" value="{{title}}"><br>
    Acquired Date YYYY/MM/DD: <input type ="text" name="acq_dat" value="{{date}}"><br>
    Select Image: <input type="file" name="img" accept="image/*" ><br>
    Description<br>
    <textarea name="description" rows="10" cols="30">{{desc}}</textarea><br>
    Acquisition Description<br>
    <textarea name="acq_description" rows="10" cols="30">{{acq_desc}}</textarea><br>
    Processing Description<br>
    <textarea name="pro_description" rows="10" cols="30">{{pro_desc}}</textarea><br>
    
    <input type="submit" value="Submit"><br>
    {{status}}
</form>
</center>