<!DOCTYPE html>
<html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content ="IE=edge">
        <meta name="viewport" content="width  = device-width, initial-scale=1">
        
        <title>Oke's Astro</title>
        <link rel=shortcut icon' href="{{url_for('static', filename='favicon.ico')}}">
        
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
       <link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto" rel="stylesheet">
    </head>
    
    <body>
        <div id="banner">
            <a href = "/"><img src="{{ url_for('static', filename='banner.png') }}"></a>
        </div>
        <div class="topnav">
            <div class="smallMenu">
                <div class="menuBtn"><center>MENU</center></div>
                <div class="menuContent">
                    <a href = "/about" >About</a></li>
                    <a href = "/blog" >Blog</a></li>
                    <a href = "/gallery">Gallery</a></li>
                    <a href = "/contact" >Contact</a></li>
                </div>
            </div>
            <a href = "/">Home</a></li>
            <a href = "/about" >About</a></li> 
            <a href = "/blog" >Blog</a></li>
            <a href = "/gallery">Gallery</a></li>
            <a href = "/contact" >Contact</a></li>
        </div>
        
        <hr>
        
        {{content}}
        
        <br>
        <hr>
    </body>
</html>