body {
    background:#121212;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

#banner{
    padding-bottom:20px;
}

.topnav {
    background-color: #bcbcbc;
    overflow: hidden;
    color: black;
    text-align: center;
    max-width:475px;
    width:auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
   
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 20px;
}

.topnav a {
    display: inline-block;
    list-style-type: none;
    
    color: #010101;
    background-color: #bcbcbc;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.topnav a:hover {
    background-color: #324563;
    color: black;
}

hr {
    margin-top:25px;
    margin-bottom:25px;
}

.front {
    text-align: center;
    margin-top:35px;
}

.front .postDetail{
    display: none;
}

img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h1 {
   
}
        
h2 {
    font-weight: bold;
    font-size:25px;
}

p {
    
   
}

.about {    
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    font-size: 25px;
}

.about p{
    display: inline-block;
    text-align: left;
    
    white-space: pre-wrap;
    font-size: 0.7em;
}

.about ul{
    font-size: 0.7em;
    display: inline-block;
    text-align: left;
    
    white-space: pre-wrap;
    margin-top: 0px;
}
.about li{
    display: inline-block;
    text-align: left;
    
    white-space: pre-wrap;
    
}

.gallery{
    font-size:30px;
    text-align:center;
}

.gallery img {
    width:200px;
    height:200px;
    object-fit: cover;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:50px;
}

.contact {
    font-size: 25px;
}

.post {
    text-align: center;
    font-size: 25px;
    margin-top:50px;
}

.postDetail{
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    
    display: inline-block;
    text-align: left;
    color:  #dddddd;
    white-space: pre-wrap;
    font-size: 0.7em;
}

.postDetail p{
    display: inline-block;
    text-align: left;
    color:  #dddddd;
    white-space: pre-wrap;
    font-size: 0.7em;
}

.postDetail h3{
    display: inline-block;
    text-align: left;
    color:  #dddddd;
    white-space: pre-wrap;
    font-size: 1.5em;
}

.post img{
    margin-top:25px;
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.75);
}

.front img{
    margin-top:25px;
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.75);
}


/* small size style */
@media screen and (max-width:650px) {
    #banner img{
       width: 150px;
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
   
    .topnav a{
        display: none;
    }
    
   .smallMenu {
        cursor: pointer;
   }
   .smallMenu:hover .menuContent {
        display:block;
   }
   
   .smallMenu:hover .menuContent a{
    display:block;
   }
   
   .gallery{
    width: 100%;
    font-size: 4vw;
   }
    .gallery img{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
   h1{
       font-size: 4vw;
   }
   h2{
      font-size: 4vw;
   }
    

   p{
     font-size: 4vw;
     padding-left:10px;
     padding-right:10px;
   }       
   
   body{
       width: 100%;
   }
   
    .menuBtn{
     /*   padding-top: 20px;
        padding-bottom:20px;*/
        padding-top: 3vw;
        padding-bottom:3vw;
    }
    
    .post img{
        width:100%;
    }

    .front img{
        width:100%
    }
    
    .about img{
        width:100%
    }
    
    .about p{
        display: inline-block;
        text-align: left;
        
        white-space: pre-wrap;
        font-size: 4vw;
        padding-left:10px;
        padding-right:10px;
    }

    .about li{

        font-size: 4vw;
        padding-left:10px;
        padding-right:10px;

    }
    
}

/* large size style */
@media screen and (min-width:650px) {
   #banner img{
       max-width: 100%;
       width: auto;
       display: block;
       margin-left: auto;
       margin-right: auto;
      
   }
   
   .smallMenu button {
    display: none;
   }
   
   .smallMenu {
        display: none;
   }
   
      .post img{
          min-width:585px;
    width:80%;
   
}

.front img{
    min-width:585px;
    width:80%;
    
}

  .about img{
   
    width:100%;
    }
    

}