<div class='about'>

    <h1><a id="About_1"></a>About</h1>
    <p>This website was made to display my astrophotography and was a learning exercise in web development. Made using the Flask framework.</p>
    <h2><a id="Observatory_5"></a>Observatory</h2>
    <img src="{{ url_for('static', filename='obs.jpg') }}">
    <p>My imaging setup is kept in a backyard ROR observatory in an approximately bortle 5 suburb of Auckland. The DSO rig as of 21/07/2019 pictured above contains the following equipment:</p>
    <ul>
        <li>SkyWatcher EQ6-R Mount</li>
        <li>GSO 8&quot; F/4 Newtonian Telescope that has been flocked and diy’d secondary dew heater</li>
        <li>Moonlite 2&quot; Focuser with diy MyFocuserProV2 ascom motor focuser</li>
        <li>ZWO ASI 1600MMC Pro with 7x36mm efw Imaging Camera</li>
        <li>ZWO 60mm Guidescope with QHY5L-II-C Guide Camera</li>
    </ul>

</div>